on:
  push:

jobs:
  changelog:
    name: Verify if CHANGELOG was updated
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get version from CHANGELOG.md
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          path: ./CHANGELOG.md

      - name: Validate the version has not yet been used
        env:
          TAG: v${{ steps.changelog_reader.outputs.version }}
        run: |
          if git ls-remote --exit-code --tags origin "refs/tags/$TAG" >/dev/null 2>&1; then
            echo "::error ::tag $TAG exists already"
            exit 1
          fi

  build:
    name: Build - ${{ matrix.platform.release_for }}
    strategy:
      matrix:
        platform:
          - release_for: linux-amd64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin: directory-packages-props-converter
            name: directory-packages-props-converter-linux-amd64
            command: build

          - release_for: linux-arm64
            os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            bin: directory-packages-props-converter
            name: directory-packages-props-converter-linux-arm64

          - release_for: macos-amd64
            os: macos-latest
            target: x86_64-apple-darwin
            bin: directory-packages-props-converter
            name: directory-packages-props-converter-macos-amd64

          - release_for: macos-arm64
            os: macos-latest
            target: aarch64-apple-darwin
            bin: directory-packages-props-converter
            name: directory-packages-props-converter-macos-arm64

          - release_for: windows-amd64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: directory-packages-props-converter.exe
            name: directory-packages-props-converter-windows-amd64.exe

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: build
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true
      - run: mv target/${{ matrix.platform.target }}/release/${{ matrix.platform.bin }} ${{ matrix.platform.name }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform.name }}
          path: ${{ matrix.platform.name }}

  release:
    permissions: write-all
    name: Release
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get version from CHANGELOG.md
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          path: ./CHANGELOG.md

      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Push a tag
        id: push_tag
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ steps.changelog_reader.outputs.version }}
          release_branches: master

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.changelog_reader.outputs.changes }}
          tag_name: v${{ steps.changelog_reader.outputs.version }}
          name: ${{ steps.changelog_reader.outputs.version }}
          files: |
            dist/**
            LICENSE
